extends layout

block content
	div#container
		h2 Restaurant Added Successfully
		a(href='/restaurants', title='Restaurant Listings') Restaurant Listings
		a(href='/restaurants/add', title='Add a Restaurant') Add a Restaurant	
