doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://js.stripe.com/v2/')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  body
  header
   h1= title
   nav
    ul
     li
      a(href='/', title='Home') Home
     li
      a(href='/restaurants', title='Restaurant Listings') Restaurant Listings
     li 
      a(href='/restaurants/add', title='Add a Restaurant') Add Restaurant  
  div#page
    block content
  footer
   p &copy; Assignment 2 - Advanced Server-Side Scripting - 2015